.quest-container {
    display: block; /* Stacks items vertically */
    padding: 1rem; /* Add padding for better readability */
    background-color: hsl(0, 0%, 13%);
    border: 1px solid hsl(0, 0%, 35%);
    border-radius: 10px;
    margin-bottom: 1rem; /* Space between tasks */
}

.quest-desc {
    color: hsl(0, 0%, 100%);
    text-align: start;
    margin-bottom: 0.5rem; /* Add spacing below description */
}

.quest-image {
    max-height: 150px; /* Limit the image height */
    margin-bottom: 0.5rem; /* Add space below the image */
    border-radius: 0.5rem; /* Optional: rounded edges */
}

.edit-btn, .delete-btn {
    margin-top: 0.5rem;
}

.red-cross {
    width: 20px;
    height: 20px;
}

.form-check {
    color: white !important;
    margin-bottom: 20px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}
